.NG-Navbar {
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: white;
    padding: 0 30px;
    box-shadow: 0px 6px 4px 0 rgba(122, 97, 167, 0.25);
    border-radius: 50px;
    z-index: 9999;
}

.NG-Navbar2 {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 0 10px;
    z-index: 9999;
}

.NG-Navbar .section-2,
.NG-Navbar2 .section-2 {
    display: flex;
    margin: 0 50px;
}

.NG-Navbar .section-3,
.NG-Navbar2 .section-3 {
    display: flex;
    align-items: center;

}

.NG-Navbar .section-3 svg,
.NG-Navbar2 .section-3 svg {
    margin: 0 20px;
    font-size: 1.5rem;
}

.NG-Navbar .section-3 button,
.NG-Navbar2 .section-3 button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 1rem;
    transition: all .2s ease-in-out;
    background-color: #384bff;
    color: white;
}

.NG-Navbar .section-3 button a,
.NG-Navbar2 .section-3 button a {
    text-decoration: none;
    color: inherit;
    margin-right: 8px;
}

.NG-Navbar .section-3 button svg,
.NG-Navbar2 .section-3 button svg {
    margin: 0;
}

.NG-Navbar .section-3 .bars,
.NG-Navbar2 .section-3 .bars {
    display: none;
    font-size: 20px;
    margin: 0 20px;

}

.NG-Navbar .section-3 button:hover,
.NG-Navbar2 .section-3 button:hover {
    background-color: white;
    color: #384bff;
    border: 1px solid #384bff;
}

.section-2 ul {
    list-style: none;
    display: flex;
    align-items: center;

}

.section-2 ul li {
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: .7rem .5rem;
    margin: 0 2px;
    display: flex;
    align-items: center;
}

.section-2 ul li a {
    color: #222;
    text-decoration: none;
}

.section-2 ul li svg {
    margin-right: 10px;
}

.iconBars {
    display: none;
}

.tmain {
    background-color: #384bff;
    width: 150px;
    height: 100%;
    margin-right: -50px;

}

.tmain button {
    position: absolute;
    top: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: white;
    border: none;

    a {
        text-decoration: none;
        color: #222;
    }
}

.t1 {
    clip-path: polygon(40% 0%, 40% 100%, 10% 50%);
    background-color: #384bff;
    height: 100%;
    margin-left: -99px;
}

@media (max-width:1300px) {
    .section-2 ul {
        display: none;
    }

    .iconBars {
        display: block;
    }

    .NG-Navbar .section-3 button,
    .NG-Navbar2 .section-3 button {
        display: none;
    }

    .NG-Navbar .section-3 .bars,
    .NG-Navbar2 .section-3 .bars {
        display: block;
    }

    .NG-menu.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        transform: translate(-50%);
        width: 100vw;
        height: 100vh;
        background-color: white;
    }

    .NG-menu.open2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100vh;
        background-color: white;
    }

    .tmain,
    .img1 {
        display: none;
    }
}

@media (max-width:700px) {

    .NG-Navbar .section-3 svg,
    .NG-Navbar2 .section-3 svg {
        margin: 0 10px;
    }
}

@media (max-width:550px) {
    .NG-Navbar {
        width: max-content;
        margin: 0 auto;
    }

    .NG-Navbar2 {
        width: 100%;

    }

    .NG-Navbar img,
    .NG-Navbar2 img {
        width: 100px;
    }

    .VG-Navbar .section-3 svg,
    .NG-Navbar .section-3 .bars,
    .NG-Navbar2 .section-3 svg,
    .NG-Navbar2 .section-3 .bars {
        margin: 0 8px;
        font-size: 15px;
    }
}